<div class="container main-container">

    <h1>Nova Escola</h1>

    <hr>
    <div class="row">
        <div class="col-md-10">
            <form novalidate="novalidate" (ngSubmit)="adicionarEscola()" [formGroup]="escolaForm">

                <div class="form-group">
                    <label class="control-label">Nome</label>
                    <div>
                        <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)"  formControlName="nome" required/>
                       
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">E-mail</label>
                    <div>
                        <input class="form-control" id="email" type="text" placeholder="E-mail (requerido)" formControlName="email"/>

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Telefone</label>
                    <div>
                        <input class="form-control" id="telefone" type="text" placeholder="Telefone (requerido)" formControlName="telefone"/>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Cadastrar" class="btn btn-primary">&nbsp;
                    <a class="btn btn-info" [routerLink]="[ '/escola/listar-escolas']">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>